{:data {:adt 1
        :passengers {:ADT 1}
        :paxSearch {:ADT 1}
        :numSeat 1
        :numSeats 1
        :departureDate ["15032024"]
        :returnDate "25032024"
        :origin ["OSL"]
        :destination ["LIS"]
        :cabinClass "E"
        :airlineId "TP"
        :bfmModule "BFM_BOOKING"
        :c14 0
        :language "en"
        :market "NO"
        :oneWay false
        :roundTripType true
        :searchPoint true
        :session "string"
        :tripType "R"
        :validTripType true
        :cmsId "string"
        :channelDetectionName ""
        :changeReturn false
        :multiCityTripType false
        }
 :clientId nil
 :clientSecret nil
 :referralId nil
 :db-host "some-host"
 :db-port 3306
 :db-username "some-user"
 :db-password "some-pass"
 :db-database "some-db"
 }
